<a href="https://colab.research.google.com/github/AdarshShah/final-year-project/blob/master/sepsis_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import math
import pandas as pd
import psycopg2
import getpass
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from keras.models import Model, Sequential
from keras.layers import Input, GRU, Dense, LSTM, Flatten, Reshape, Lambda, CuDNNLSTM, Dropout
import matplotlib.pyplot as plt

Using TensorFlow backend.

In [0]:
path = '/home/adarsh/Documents/sepsis/sepsis_dataset.csv'
sepsis_dataset = pd.read_csv(path)

In [5]:
sepsis_dataset.columns

Index(['Unnamed: 0', '791', '811', '812', '828', '837', '1525', '1529', '1536',
       '3736', '3744', '3745', '3750', '3789', '3803', '3835', '3837', '30006',
       '44441', '44711', '50809', '50813', '50820', '50912', '50931', '51006',
       '51478', '220615', '225170', '226537', '227444', 'sepsis', 'hadm_id'],
      dtype='object')

In [0]:
hadm_id = sepsis_dataset['hadm_id'].drop_duplicates()
for hadm in hadm_id:
  data = sepsis_dataset[sepsis_dataset['hadm_id'] == hadm].iloc[:,1:-2]

In [8]:
data.columns

Index(['Unnamed: 0', '791', '811', '812', '828', '837', '1525', '1529', '1536',
       '3736', '3744', '3745', '3750', '3789', '3803', '3835', '3837', '30006',
       '44441', '44711', '50809', '50813', '50820', '50912', '50931', '51006',
       '51478', '220615', '225170', '226537', '227444'],
      dtype='object')